<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ejemplo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src=''></script>
</head>
<body>
    <form action="../logica/Ejemplo1.php" method="post">

            <table>
                <tr>
                    <td colspan="2">Ejercicio 1</td>
                </tr>
                <tr>
                    <td>Número 1: </td>
                    <td><input type="text" name="txtNumero1" id="txtNumero1" value=""></td>
                </tr>
                 <tr>
                    <td>Número 2: </td>
                    <td><input type="text" name="txtNumero2" id="txtNumero2" value=""></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Calcular suma">
                    </td>
                </tr>
            </table>
    </form>
</body>
</html>