<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salario</title>
</head>

<body>
    <form action="../controller/salarioC.php" method="post">
        <table>
            <thead>
                <tr>
                    <td colspan="2">calcular salario</td>
            </thead>
            </tr>

            <tr>
                <td>Ingrese cantidad horas: </td>
            <tr><input type="text" name="txtCantidadHora" id="txtCantidadHora" value=""></tr>
            </tr>

            <tr>
                <td>Ingrese valor hora: </td>
            <tr><input type="text" name="txtValorHora" id="txtValorHora" value=""></tr>
            </tr>
            <tr>
                <input type="submit" value="calcular" name="boton">
            </tr>
        </table>
    </form>
</body>

</html>