<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ejercicio Suma</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
</head>

<body>
    <form method="post">
        <fieldset>
            <h2>Ejercicio Suma</h2>
            <p>PHP permite a los desarrolladores declarar métodos constructores para las clases. Aquellas que tengan un
                método constructor lo invocarán en cada nuevo objeto creado, lo que lo hace idóneo para cualquier
                inicialización que el objeto pueda necesitar antes de ser usado.</p>

            <br>

            <legend>Ejercicio POO MVC SUMA</legend>
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">Número 1</label>
                <textarea class="form-control" id="txtNumero1" name="txtNumero1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">Número 1</label>
                <textarea class="form-control" id="txtNumero2" name="txtNumero2" rows="3"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</body>

</html>