<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sumar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../asset/css/global.css'>
    <script src=''></script>
</head>

<body>
    <form action="../controller/SumarC.php" method="post">
        <table>
            <thead>
                <tr>
                    <td colspan="2">Ejercicio sumar</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Número 1</td>
                    <td><input type="number" name="txtNumero1" id="txtNumero1" value=""></td>
                </tr>
                <tr>
                    <td>Número 2</td>
                    <td><input type="number" name="txtNumero2" id="txtNumero2" value=""></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Sumar" name="btnEnviar" id="btnEnviar">                        
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>